// Place all the styles related to the api::spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// helpers
$airBnbPink: #FF5A5F;
$airBnbTeal: #008489;
$airBnbGray: #484848;
$airBnbLightGray: rgb(120, 120, 120);
$airBnbPurple: rgb(87, 37, 51);
$airBnbBorderColor: #DBDBDB;
$standardFontSize: 19px;
$divider: 1px solid $airBnbBorderColor;

// index page
.content {
  width: 100%;

  .index {
    width: 90%;
    margin: 0 auto;

    h2 {
      margin-top: 2em;
      color: $airBnbGray;
      font-weight: 500;
      padding-left: 0.5em;
      margin-bottom: 1em;
    }
    .index-list {
      width: 100%;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;

      .index-item, .index-item a {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1em;
        margin-bottom: 2em;

        .top-line {
          display: flex;
          width: 100%;
          font-size: 85%;

          .rental-type {
            padding-right: 2em;
          }

          .planet {
            list-style-type: disc;
          }
        }

        figure {
          width: 100%;
          border-radius: 4px;
          margin-left: 0em;

          img {
            width: 100%;
            height: 203px;
          }
        }
        .title {
          font-weight: 500;
          color: $airBnbGray;
          font-size: 1.5em;
        }

        .daily-rate {
          color: $airBnbLightGray;
          font-weight: 300;
        }

        .rating {
          color: $airBnbTeal;
          font-size: 0.5em;
          display: inline;

          .num-reviews {
            color: $airBnbGray;
            font-size: 1.5em;
            padding-left: 0.5em;
          }
        }

      }

    }
  }
  .filter {
    color: $airBnbPurple;
    font-weight: 500;
  }

  // show page
  .truncated {
    color: $airBnbLightGray;
    font-weight: 300;

    .item {
      padding-left: 0.5em;
    }

    .icon {
      color: $airBnbLightGray;
    }
  }

  .photo-carousel {
    width: 100%;
    margin-bottom: 3em;

    li {
      height: 75vh;
      overflow-y: hidden;
    }
  }
  .book-container {
    height: 100%;
    position: relative;

    .book {
      border: 1px solid #DBDBDB;
      box-sizing: border-box;
      float: right;
      padding: 1em;
      z-index: 3;
      background-color: #fff;
      width: 30%;
      top: 50em;
      height: 15%;

      #from, #per-night {
        color: $airBnbLightGray;
        font-size: 0.75em;
      }

      .daily-rate {
        color: $airBnbGray;
        font-weight: 500;
        font-size: 1.5em;
        padding-right: 0.5em;
      }

      .rating {
        color: $airBnbTeal;
        font-size: 0.5em;
        display: inline;
      }
      #small-reviews {
        color: $airBnbGray;
        font-size: 1.5em;
        padding-left: 0.5em;
      }
    }
  }


  .spot-details {
    width: 67%;
    position: relative;
    margin: 0 auto;


    .details {
      display: flex;
      flex-direction: column;
      border-bottom: $divider;
      padding-bottom: 2em;
      width: 80%;

      .show-title {
        font-size: 2em;
        color: $airBnbGray;
        line-height: 1.5em;
      }

      .planet {
        color: $airBnbLightGray;
        font-weight: 300;
      }
    }
    .guest-demographics {
      display: flex;
      flex-direction: row;
      margin-top: 1em;
      justify-content: space-between;
      width: 70%;

      .icon {
        color: $airBnbGray;
        padding-right: 0.5em;
      }
       .demographic {
        color: $airBnbLightGray;
        font-weight: 300;
      }
    }
    .home-description {
      border-bottom: $divider;
      padding-bottom: 2em;
      width: 80%;

      .hosted-by {
        display: flex;
        flex-direction: row;
        width: 50%;
        margin-top: 2em;
        align-items: center;
        margin-bottom: 2em;

        img {
          width: 51px;
          height: 51px;
          border-radius: 50px;
        }

        .host {
          color: $airBnbGray;
          padding-left: 1.5em;
        }
      }
      .description {
        color: $airBnbLightGray;
        font-weight: 300;
      }
    }

    .amenities-modal {
      background-color: rgba(0,0,0,0.8);
      display: none;
    }
    .amenities {
      margin-top: -1em;

      .amenity-slice {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 72%;
        line-height: 2.5;
      }
      .button-link {
        color: $airBnbTeal;
        cursor: pointer;
        margin-top: 2em;
        border-bottom: $divider;
        padding-bottom: 2em;
        width: 80%;
      }
    }

    .section-title {
      font-weight: 500;
      padding-left: 0em;
      color: $airBnbGray;
      padding-top: 1em;
    }

    .sleeping {
      border: 2px solid #DBDBDB;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 16%;
      font-weight: 300;
      padding: 2em;

      .sleeping-description {
        margin-top: 1em;
        text-align: center;
      }

    }

    .rules {
      border-top: $divider;
      margin-top: 3em;
      border-bottom: $divider;
      padding-bottom: 2em;
      width: 80%;

      .house-rules {
        font-weight: 300;
        color: $airBnbLightGray;
      }
    }

    .cancellation {
      border-bottom: $divider;
      padding-bottom: 2em;
      width: 80%;

      .policy {
        font-weight: 300;
        color: $airBnbLightGray;
      }
    }

    .reviews {
      color: #484848;
      margin-top: 2em;
      display: flex;
      align-items: baseline;

      span {
        @extend .rating;
        color: $airBnbTeal;
        margin-left: 1em;

      }
    }

    h4 {
      font-weight: 500;
      color: $airBnbGray;
    }

    .getting-around {
      font-weight: 300;
      padding-bottom: 2em;
      color: $airBnbLightGray;
    }
  }
}
