// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$airBnbPink: #FF5A5F;
$airBnbTeal: #008489;
$airBnbGray: #484848;
$airBnbLightGray: rgb(120, 120, 120);
$airBnbPurple: rgb(87, 37, 51);
$airBnbBorderColor: #DBDBDB;
$standardFontSize: 19px;

.theme-pink {
  color: $airBnbPink;
}

.theme-gray {
  color: $airBnbGray;
}

.theme-light-gray {
  color: $airBnbLightGray;
}

.theme-teal {
  color: $airBnbTeal;
}

.theme-purple {
  color: $airBnbPurple;
}

nav {
  margin: 20px 0px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #DBDBDB;
  padding-bottom: 20px;
  box-sizing: border-box;
}


#logo {
  margin-left: 20px;
  margin-right: 20px;
  display: inline;
  color: $airBnbPink;
}

nav input {
  padding-left: 10px;
  padding-top: 7px;
  font-size: 20px;
  font-weight: 300;
}

.search {
  border: 1px solid $airBnbBorderColor;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 42px;
  width: 75%;
  display: inline-block;
}

.search span {
  padding-left: 15px;
  padding-top: 20px;
}

.left-nav {
  width: 500px;
}

.right-nav {
  margin-right: 5%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.new-session {
  display: flex;
}

#trips {
  display: flex;
  margin-right: 2em;
  background-color: transparent;
}

.right-nav a, button {
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.session-links {
  font-size: 14px;
  color: $airBnbLightGray;
  display: flex;
  border-bottom: 2px solid transparent;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.lightbox {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  z-index: 0;
  position: fixed;
  width: 100vw;
  bottom: 0;
  right: 0;
}

.session-form {
  background-color: #fff;
  z-index: 3;
  height: auto;
  width: 50%;
  margin: 0 auto;
  display: flex;
  padding-bottom: 2em;
  position: relative;
}

h3 {
  font-family: 'Roboto', sans-serif;
  color: $airBnbLightGray;
  font-weight: 300;
  padding-top: 2em;
  padding-left: 4.5em;
}

.form-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  height: auto;
  margin: 0 auto;
  top: 100px;
  padding-top: 1em;
  padding-bottom: 2em;
  z-index: 5;
}

form a {
  color: $airBnbLightGray;
}

 a span {
  color: $airBnbTeal;
}

input[type="text"],
input[type="password"] {
  font-size: $standardFontSize;
  color: $airBnbLightGray;
  font-weight: 300;
  padding-left: 1em;
  justify-content: space-between;
  width: 91%;
}

.icon {
  color: $airBnbLightGray;
}

.form-fields {
  border: 1px solid $airBnbLightGray;
  border-radius: 2px;
  height: 46px;
  box-sizing: border-box;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.form-submit {
  margin-bottom: 8px;
  text-align: center;
  font-size: 19px;
  width: 100%;
  box-sizing: border-box;
}

.form-fields .icon {
  margin-right: 1em;
}

.alt-session {
  margin: 0 auto;
  color: $airBnbLightGray;
  margin-top: 1em;
}

.modal-close {
  font-size: 36px;
  color: $airBnbLightGray;
  font-weight: 300;
  cursor: pointer;
  position: absolute;
  left: 1em;
}

.error-messages {
  color: red;
  padding-left: 5em;
}

form {
  position: relative;
  top: auto;
  width: 75%;
  margin: 0 auto;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-button {
  width: 100%;
}
