// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$airBnbPink: #FF5A5F;
$airBnbTeal: #008489;

.theme-pink {
  color: $airBnbPink;
}

.logo {
  width: 2em;
  height: 2em;
}
